# JavaScript or Node.js
.svelte-kit/
node_modules/
build/
coverage/
dist/
dist-ssr/
html/
package/
*.local
.nojekyll

logs
*.log
npm-debug.log*
pnpm-debug.log*

# IntelliJ IDEA
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
