name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        node: [18.x, 20.x]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up pnpm
        run: corepack enable

      - name: Set up Node.js with ${{ matrix.node }} version
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check the syntax of the code
        run: pnpm lint

      - name: Run the unit and e2e tests
        run: pnpm test:e2e:install && pnpm test

      - name: Build the project
        run: pnpm build

      - name: Upload the built module files
        if: matrix.node == '20.x'
        uses: actions/upload-artifact@v4
        with:
          name: modules
          path: dist/

      - name: Upload the coverage reports to Codecov
        if: matrix.node == '20.x'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage
